.formSection {
  display: none;
  animation: show 2s linear;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.contactForm {
  position: fixed;
  left: 52%;
  transform: translateX(-50%);
  top: 50px;
  height: 45vw;
  width: 35vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  background-image: url(../../images/poster.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 11;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  height: 70%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.formField {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-bottom: 20px;
}

.formField label {
  position: relative;
  color: #5e1205;
  font-weight: 600;
  font-size: 1.3vw;
}

.formField input,
textarea {
  border: none;
  outline: none;
  background: transparent;
  padding: 10px 0;
  border-bottom: 2px solid #5e1205;
  font-weight: 600;
  font-size: 1vw;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: 90%;
}

.formField input[type="tel"] {
  height: 5vh !important;
  width: 90% !important;
  border: 1px solid #5e1205 !important;
  background: transparent;
  font-size: 1vw !important;
}

.phoneLabel {
  margin-bottom: 10px;
}

.submitBtn {
  width: 260px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 5px;
  margin-right: 35px;
  margin-top: 10px;
  border: none;
  outline: none;
  text-transform: uppercase;
  background-color: #a6110b;
  color: white;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

@media only screen and (max-width: 1400px) {
  .contactForm {
    top: 20px;
    height: 58vw;
    width: 44vw;
  }

  .formField input,
  textarea {
    font-size: 16px;
  }

  .formField label {
    font-size: 18px;
  }

  .formField input[type="tel"] {
    font-size: 1.5vw !important;
  }
}

@media only screen and (min-width: 2100px) {
  .submitBtn {
    width: 340px;
    height: 95px;
    font-size: 30px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .contactForm {
    top: 20px;
    height: 65vw;
    width: 50vw;
  }

  .formField input[type="tel"] {
    font-size: 2vw !important;
  }
}

@media only screen and (max-width: 900px) {
  .contactForm {
    top: 10px;
    height: 650px;
    width: 500px;
  }

  .formField input[type="tel"] {
    font-size: 2.4vw !important;
  }
}

@media only screen and (max-width: 480px) {
  .contactForm {
    top: 20px;
    height: 550px;
    width: 400px;
  }

  .formField {
    margin-bottom: 25px;
  }

  .formField input[type="tel"] {
    font-size: 4vw !important;
  }

  .submitBtn {
    position: absolute;
    bottom: -20px;
  }
}

@media only screen and (max-width: 1024px) and (min-height: 960px) {
  .contactForm {
    top: 30px;
    height: 100vw;
    width: 75vw;
  }
}
