.gallerySection {
  height: 110vh;
  width: 100vw;
  background-image: url("../../images/sectionBackgrounds/bg2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 13vw;
  background-color: black;
  position: relative;
}

.content {
  position: relative;
  height: 100%;
  width: 92%;
  margin-left: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  position: absolute;
  top: 75vh;
  left: 30%;
  font-size: 65px;
  color: white;
  font-family: "EngraversMT";
  letter-spacing: 6px;
}

.box {
  width: 300px;
  height: 35vh;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  -webkit-box-reflect: below 0px
    linear-gradient(transparent, transparent, #0004);
}

.box span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  object-fit: cover;
}

@media only screen and (min-width: 1800px) {
  .title {
    left: 32%;
    font-size: 4vw;
  }

  .box {
    width: 20vw;
  }

  .box span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(480px);
  }
}

@media only screen and (max-width: 1300px) {
  .gallerySection {
    background-position-x: 10vw;
  }

  .box {
    width: 280px;
  }

  .title {
    left: 22vw;
  }
}

@media only screen and (max-width: 1160px) {
  .box span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(380px);
  }

  .title {
    font-size: 55px;
    left: 21vw;
  }
}

@media only screen and (max-width: 1024px) {
  .gallerySection {
    height: 100vh;
  }

  .box span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(330px);
  }

  .title {
    top: 69vh;
    left: 20vw;
  }
}

@media only screen and (max-width: 900px) {
  .gallerySection {
    height: 90vh;
    background-position-y: 30px;
  }

  .content {
    width: 100%;
    margin-left: 0;
  }

  .box {
    width: 250px;
    height: 35vh;
  }

  .box span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(310px);
  }

  .title {
    top: 63vh;
    left: 25vw;
    font-size: 45px;
  }
}

@media only screen and (max-width: 768px) {
  .gallerySection {
    background-position-x: 5vw;
    background-position-y: 50px;
  }

  .box span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(260px);
  }

  .title {
    font-size: 38px;
  }
}

@media only screen and (max-width: 640px) {
  .gallerySection {
    height: 85vh;
    background-position-x: 0vw;
    background-position-y: 20px;
  }

  .box {
    width: 200px;
    height: 38vh;
  }

  .box span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(230px);
  }

  .title {
    display: none;
  }
}

@media only screen and (max-width: 560px) {
  .gallerySection {
    background-size: cover;
    background-position-x: center;
    background-position-y: -10px;
  }

  .box {
    width: 150px;
    height: 32vh;
  }

  .box span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(200px);
  }
}

@media only screen and (max-width: 480px) {
  .gallerySection {
    height: 75vh;
    background-position-y: -20px;
  }

  .box {
    width: 120px;
    animation: animate 10s linear infinite;
  }

  .box span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(160px);
  }
}

@media only screen and (max-width: 1024px) and (min-height: 960px) {
  .gallerySection {
    height: 60vh;
    background-position-x: 2vw;
  }

  .content {
    width: 100%;
    margin-left: 0;
  }

  .box {
    width: 300px;
    height: 22vh;
  }

  .title {
    top: 42vh;
  }
}
