header {
  height: 110vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

/* Video background properties */
.bgVideo,
.bgVideo2 {
  height: 100%;
  width: 210vh;
  min-width: 100%;
  min-height: 56.25vw;
  z-index: 0;
}

.bgVideo2 {
  width: 270vh;
}

.videoOverlay {
  width: 100vw;
  height: 110vh;
  position: absolute;
  background: black;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 1;
}

/* Transition properties */
.transition {
  position: absolute;
  top: 105vh;
  width: 100vw;
  z-index: 2;
}

.transition::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-top: 100px solid black;
  box-sizing: border-box;
  filter: url(#wavy);
}

header svg {
  width: 0;
  height: 0;
}

/* Headline title properties*/

.headline {
  height: 90%;
  width: 86vw;
  border: 10px double white;
  position: absolute;
  top: 20px;
  left: 11vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.title {
  color: white;
  font-size: 11vw;
  font-family: "EngraversMT";
  letter-spacing: 4px;
}

.slogan {
  color: white;
  font-size: 2vw;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.learnMore {
  position: relative;
  top: 22vh;
  border: none;
  width: 15vw;
  height: 8vh;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2vw;
  font-family: "EngraversMT";
  color: #5e1205;
  background-color: #ebd3a6;
  outline: none;
  cursor: pointer;
}

.learnMore:hover {
  color: black;
}

@media only screen and (max-width: 1000px) {
  header {
    height: 100vh;
  }

  .transition {
    top: 95vh;
  }

  .slogan {
    font-size: 2.5vw;
  }

  .learnMore {
    width: 20vw;
    height: 9vh;
    font-size: 3vw;
  }
}

@media only screen and (max-width: 900px) {
  header {
    margin-top: 70px;
  }

  .headline {
    width: 93vw;
    left: 4vw;
  }

  .learnMore {
    top: 25vh;
  }

  .transition {
    top: unset;
    bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .bgVideo,
  .bgVideo2 {
    display: none;
  }

  .learnMore {
    top: 20vh;
  }

  header {
    background-image: url(../../images/bg7.jpg);
    background-size: cover;
    background-position-y: -250px;
    height: 90vh;
    margin-top: 12vh;
  }
}

@media only screen and (max-width: 640px) {
  header {
    height: 84vh;
  }

  .title {
    top: 0;
    text-align: center;
    font-size: 100px;
  }

  .slogan {
    font-size: 18px;
  }

  .learnMore {
    top: 10vh;
  }
}

@media only screen and (max-width: 480px) {
  header {
    height: 75vh;
    background-position-y: -100px;
    margin-top: 13vh;
  }

  .title {
    font-size: 80px;
    line-height: 78px;
    margin-bottom: 20px;
  }

  .slogan {
    text-align: center;
    margin: 0 3vw;
  }

  .learnMore {
    width: 180px;
    height: 50px;
    font-size: 28px;
  }
}

@media only screen and (max-width: 340px) {
  header {
    height: 85vh;
  }

  .title {
    font-size: 68px;
  }
}

@media only screen and (max-width: 1024px) and (min-height: 960px) {
  header {
    height: 68vh;
    margin-top: 12vh;
  }

  .headline {
    width: 93vw;
    left: 4vw;
  }

  .learnMore {
    top: 17vh;
    height: 5vh;
  }

  .bgVideo {
    width: 120vh;
  }

  .bgVideo2 {
    width: 160vh;
  }
}
